<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hedear And Fotere</title>
    <link rel="stylesheet" href="static/css/header.css">
</head>
<body>
	<header class="df">
        <h1>
            Cinema_app
        </h1>
        <div class="action_list_a">
            <li>
                <a href="">
                    Разрабочики
                </a>
                <a href="{{url_for('main_film')}}">
                    Фильмы
                </a>
                <a href="{{url_for('main_actor')}}">
                    Актеры
                </a>
                <a href="{{url_for('main_author')}}">
                    Авторы
                </a>
                {%if user.role_user%}
                <a href="{{url_for("view_item",env_type_model="user",item_id= user.user_id)}}">
                    Профиль
                </a>
                <form action="{{url_for("logout")}}" method="post" >
                    <button type="submit">Выход</button>
                </form>
                {%elif not user.role_user%}
                <a href="{{url_for("reg")}}"> Регестрация</a>
                <a href="{{url_for("log")}}"> Вход</a>
                {%elif user.role_user == "admin" or user.role_user=="author"%}
                <a href="{{url_for("create_model",type_model="film")}}">Создание фильма</a>
                <a href="{{url_for("create_model",type_model="actor")}}">Создание актёра</a>
                <a href="{{url_for("create_model",type_model="author")}}">Создание сценариста</a>
                {%endif%}
            </li> 
        </div>
    </header>
</body>
</html>