<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hedear And Fotere</title>
    <link rel="stylesheet" href="static/css/header.css">
</head>
<body>
	<header class="df">
        <h1>
            Cinema_app
        </h1>
        <div class ="seracht_film df">
            <form action="{{url_for("serach_items")}}" method="post">
                <input  minlength="3" max="100"   name="search_text" placeholder="Поиск что вам нужно" value="{{search_text if search_text else ""}}">
                <button type="submit">Поиск</button>
            </form>
        </div>
        <div class="action_list_a">
            <li>
                <a href="">
                    Разрабочики
                </a>
                <a href="{{url_for('main_item',type_model="film")}}">
                    Фильмы
                </a>
                <a href="{{url_for('main_item',type_model="actor")}}">
                    Актеры
                </a>
                <a href="{{url_for('main_item',type_model="author")}}">
                    Авторы
                </a>
                {%if user%}
                 <h2>{{user.username}}</h2>
                <a href="{{url_for("view_item",env_type_model="user",item_id= user.user_id)}}">
                    Профиль
                </a>
                <form action="{{url_for("logout")}}" method="post" >
                    <button type="submit">Выход</button>
                </form>
                    {%if user.role_user == "admin" or user.role_user=="author"%}
                    <a href="{{url_for("create_model",type_model="film")}}">Создание фильма</a>
                    <a href="{{url_for("create_model",type_model="actor")}}">Создание актёра</a>
                    <a href="{{url_for("create_model",type_model="author")}}">Создание сценариста</a>
                    {%endif%}
                {%else%}
                <a href="{{url_for("reg")}}"> Регестрация</a>
                <a href="{{url_for("log")}}"> Вход</a>
                {%endif%}
                
                <a href="{{url_for("show_type_film_country")}}">Все типы фильма и страны</a>
            </li> 
        </div>
    </header>
</body>
</html>