<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/header.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/footer.css')}}">
	<link rel="shortcut icon" href="{{url_for('static',path='icong_web.svg')}}">
	<title>Главная страница</title>
</head>
<body>
	<div id="header">{% include "header.html"%}</div>
	{%if films%}
	<div class="mini_film  df">
			{% for film in films %}
			<div class="mini_bloc_film df">
				<a href="{{url_for('view_item',env_type_model='film',item_id = film.film_id)}}" id="film">
					<img src="{{url_for('static',path=film.path_image)}}">
				</a>
				<p id = titel>{{film.title.title()}}</p>
				<p>{{film.avg_rating}}</p>
				<p>{{ film.release_date if film.release_date else "Дата не указана" }}</p>
			</div>	
			{% endfor  %}
		</div>
	{%endif%}	
	{%if actors%}	
	{% for actor in actors %}
		<div class="actor_block">
			<div class="actor_block_text">
				<h1>{{actor.lastname.title()}} {{actor.fistname.title()}}</h1>
				{%if actor.star%}
				<a href="{{url_for("view_item",env_type_model="actor",item_id=actor.actor_id)}}">Профиль актёра</a>
				{%else%}
				<a href="{{url_for("view_item",env_type_model="author",item_id=actor.author_id)}}">Профиль автора</a>
				{%endif%}
			</div>
			
		</div>
		{% endfor%}
		{%endif%}
	
	{%if films%}
	{% for film in films %}
		<div class="bloc_film df ">
			<a href="{{url_for('view_item',env_type_model='film',item_id = film.film_id)}}" id="film"><img src="{{url_for('static',path=film.path_image)}}"></a>
			<div class="text_dect df">
				<h1>
					{{film.title.title()}}
				</h1>
				<p>
					{{film.description}}
				</p>
				<p>{{film.avg_rating}}</p>
				
			</div>
			
		</div>
		{% endfor %}
	
	{%endif%}

	
	{%if not films and not actors%}
	<h1>Сдесь пока не чего нет </h1>	
	{%endif%}
	<div id="footer">{% include"footer.html"%}</div>
		
	
	
</body>
</html>