<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/main.css')}}">

	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/header.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/footer.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/reg_log.css')}}">
	
	<link rel="shortcut icon" href="{{url_for('static',path='icong_web.svg')}}">
	<title>Главная страница</title>
</head>
<body>
	<div id="header">{% include "header.html"%}</div>
	{%if micro_films%}
	<div class="mini_film  df">
			{% for film in micro_films %}
			<div class="mini_bloc_film df">
				<a href="{{url_for('view_item',env_type_model='film',item_id = film.film_id)}}" id="film">
					<img src="{{url_for('static',path=film.path_image)}}">
				</a>
				<p id = titel>{{film.title.title()}}</p>
				{%if film.avg_rating>0.0%}
				<p>{{film.avg_rating}}</p>
				{%else%}
				<p>Нет пока оценок</p>
				{%endif%}
				<p>{{ film.release_date if film.release_date else "Дата не указана" }}</p>
			</div>	
			{% endfor  %}
		</div>
	{%endif%}
	{%if people_list%}
	{% for people in people_list %}	
		<div class="actor_block">
			<div class="actor_block_text">
				<h1>{{people.lastname.title()}} {{people.fistname.title()}}</h1>
				{%if people.star%}
				<a href="{{url_for("view_item",env_type_model="actor",item_id=people.actor_id)}}">Профиль актёра</a>
				{%else%}
				<a href="{{url_for("view_item",env_type_model="author",item_id=people.author_id)}}">Профиль автора</a>
				{%endif%}
			</div>
			
		</div>
		{% endfor%}
		{%endif%}
	
	{%if films%}
	{% for film in films %}
		<div class="bloc_film df ">
			<div class="img_rating df">
				<a href="{{url_for('view_item',env_type_model='film',item_id = film.film_id)}}" id="film"><img src="{{url_for('static',path=film.path_image)}}"></a>
				<p>{{film.avg_rating}}</p>
			</div>
			
			<div class="text_dect df">
				<h1>
					{{film.title.title()}}
				</h1>
				<p>
					{{film.description}}
				</p>
				
				
			</div>
			
		</div>
		{% endfor %}
	
	{%endif%}
	<div class="pages">
	{%if films and (films| length)==limit_film%}
		<form action="{{url_for("main_item",pages=pages+1,type_model="film")}}" method="get"></form>
	{%elif people_list and people_list|length==limit_actor_and_author%}
		{%if type_model=='actor'%}
		<form action="{{url_for("main_item",pages=pages+1,type_model="actor")}}" method="get">
		{%elif type_model=='author'%}
		<form action="{{url_for("main_item",pages=pages+1,type_model="author")}}">
		{%endif%}
		<button type="submit">Ещё {{type_model}} {{pages+1}}</button>
		</form>
	{%elif pages>1%}
		{%if type_model=="film"%}
		<form action="{{url_for("main_item",pages=pages-1,type_model="film")}}" method="get">
		{%elif type_model=="actor"%}
		<form action="{{url_for("main_item",pages=pages-1,type_model="actor")}}" method="get">
		{%else%}
		<form action="{{url_for("main_item",pages=pages-1,type_model="actor")}}" method="get">
		{%endif%}
		<button type="submit">Назад {{type_model}} {{pages-1}} </button>
		</form>

	</div>
	{%endif%}
		{% include"reg_log_modal.html"%}
	{%if not films and not people_list and not micro_films%}
	<h1>Сдесь пока не чего нет </h1>	
	{%endif%}
	<div id="footer">{% include"footer.html"%}</div>
	<script src="{{ url_for('static', path='model.js') }}"></script>   
	
	
</body>
</html>