<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',path="css/profilses.css")}}"> -->
	
	<title>Профильм</title>
</head>
<body>
	 <div id="header"></div>
	 <div class="wrapper df">
		<div class="wrapper_header df ">
			{% include "header.html"%}
		</div>
		{%if item.username%}
			<h1 id="username">{{item.username}}</h1>
			<h2 id = "datanow">{{item.datanow}}</h2>
		{%elif item.title%}
		<data>{{item.release_date}}</data>
		<span>{{item.avg_rating}}</span>
		{%if user and not rating_user  %}
		<form  action="{{url_for("create_rating",film_id=item.film_id,user_id=user.user_id)}}" method="post">
			<select name="rating" >
				{%for i in range(1,11)%}
				<option value="{{i}}">{{i}}</option>
				{%endfor%}	
			</select>
			<button type="submit">Создать ретинг</button>
		</form>
		{%elif rating_user and user.user_id %}
		<h2>Ваш ратинг:{{rating_user.rating}}/10</h2>
		<form  action="{{url_for("update_rating_user_id",film_id=item.film_id,user_id=user.user_id)}}" method="post">
			<select name="rating" >
				{%for i in range(1,11)%}
				<option value="{{i}}">{{i}}</option>
				{%endfor%}	
			</select>
			<button type="submit">Обновить  ретинг</button>
		</form>
		<form  action="{{url_for("delete_rating",rating_id = rating_user.rating_id,film_id=item.film_id)}}" method="post">
			<button type="submit">удалить ратин твой </button>
		</form>
		{%endif%}
		<h1 id="titile">{{item.title}}</h1>
		<p id = "description">{{item.description}}</p>
		<img src="{{url_for('static',path=item.path_image)}}" alt="">
		<h1>Actors</h1>
		{%if item.actors %}
		
		{%for actor in item.actors%}
		<a href="{{url_for("view_item",env_type_model='actor',item_id = actor.actor_id)}}" id="actor">{{actor.firstname}} {{actor.lastname}} {{actor.patronymic}}<br></a>
		{%endfor%}
		{%else%}
		<p>Пока не сказали кастинг </p>
		{%endif%}
		<h2>Authors</h2>
		{%if item.authors%}
		{%for author in item.authors%}
		<a href="{{url_for("view_item",env_type_model='author',item_id = author.author_id)}}" id="author">
			{{author.firstname}} {{author.lastname}} {{author.patronymic}}<br>
		</a>
		{%endfor%}
		{% else%}
		<h2>Not author </h2>
		{%endif%}
		{%if user%}
		<form action="{{url_for("create_comment",user_id=user.user_id,film_id=item.film_id)}}" method="post">
			<textarea name="description" id="" placeholder="Текст кометария"></textarea>
			<button type="submit">Создать новый комент</button>
		</form>
		{%endif%}
		<h2>Comment</h2>
		{%if item.coments%}
		
		{%for coment in item.coments%}
		<h3>{{coment.user.username}}</h3>
		<p> Описние  {{coment.description}}</p>
		<p> Лайки {{coment.countheart}}</p>
		{%if user%}
		<form action="{{url_for("update_coment_type_rec" 
		,coment_id=coment.coment_id,
		film_id=item.film_id,
		user_id = user.user_id, type_rec = "like")}}" method="post">
			<button>💖Лайк</button>
		</form>
		{%endif%}
		<p>Дизлайки {{coment.countdemon}}</p>
		{%if user%}
		<form action="{{url_for("update_coment_type_rec" 
		,coment_id=coment.coment_id,
		film_id=item.film_id,
		user_id = user.user_id, type_rec = "unlike")}}" method="post">
			<button>💩Дизлайк</button>
		</form>
		{%endif%}
		{%endfor%}
		{%else%}
		<p>Кометарий не написаны  </p>
		{%endif%}
		<form action="{{url_for("update_model",env_type_model="film",item_id=item_id)}}" method="get">
			<button type="submit">Изменить</button>
		</form>
		<form action="{{url_for("delete_film",film_id=item_id)}}" method="post">
			<button type="submit">Удалить</button>
		</form>
		{% elif item.bio %}
			<h1>{{item.lastname }} {{item.firtname}} {{item.patronymic}}</h1>
			<h2>{{item.birth_date}}</h2>
				{%if item.bio%}
				<p>{{item.bio}}</p>
				{%else%}
				<p>Автор не стал сообшать историю о себе</p>
				{%endif%}
		<form action="{{url_for("update_model",env_type_model="author",item_id=item_id)}}" method="get">
		<button type="submit">Изменить</button>
		</form>
			<form action="{{url_for("delete_author",author_id=item_id)}}" method="post">
				<button type="submit">Удалить</button>
			{% else %}
			<h1>{{item.lastname }} {{item.firtname}} {{item.patronymic}}</h1>
			<h2>{{item.birth_date}}</h2>
				{%if item.star%}
				<p>{{item.star}}</p>
				{%else%}
				<p>Актера нет звест</p>
				{%endif%}
			<form action="{{url_for("update_model",env_type_model="actor",item_id=item_id )}}" method="get">
			<button type="submit">Изменить</button>
			</form>
			<form action="{{url_for("delete_actor",actor_id=item_id)}}" method="post">
				<button type="submit">Удалить</button>
			{%endif%}
			{%if err%}
			<p>{{err}}</p>
			{%endif%}
		<div class="wrapper_footear df ">
			{%include "footer.html"%}
		</div>
		
		
		
	 </div>
	 <div id="footear"></div>
</body>
</html>