<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path="css/profilses.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/header.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/footer.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/reg_log.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/playr.css')}}">
	<link rel="shortcut icon" href="{{url_for('static',path='icong_web.svg')}}">
	<!-- Plyr CSS -->
	<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />

	<!-- Plyr JS -->
	<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
	<title>Профильм</title>
</head>
<body>
	{% include "header.html"%}
	{%if err%}
		<div class="err">
		<p>{{err}}</p>
		</div>
	{%endif%}
		{%if item.username%}
		<div class="profile_user df">
			<label for="">Имя пользователя</label>
			<h1 id="username">{{item.username}}</h1>
			<h2 id = "datanow">{{item.datetimenow.strftime("%Y-%m-%d")}}</h2>
			
			<a href="{{url_for("user_info",user_id=item.user_id)}}" download="user_info.json">Даные ваши</a>
			{%if  user.role_user=="admin"%}
			<h2>{{item.role_user}}</h2>
			
			<form action="{{url_for("update_user_role",user_admin_id=user.user_id,user_id=item_id)}}" method="post">
			<div class="update_user_role df">
				<select name="update_role_user" id="">
				<option value="admin">Admin</option>
				<option value="author">Author</option>
				<option value="user">User</option>
				</select>
				<button type="submit">Обновить роль </button>
			</div>
			</form>
			{%endif%}
			{%if item.likefilms%}
			{%for film in item.likefilms %}
			<div class="film_block df">
				{%if item.likefilms%}
				
				<img src="{{url_for("static",path=film.path_image)}}">
				<div class="text_box df">
					<h1>{{film.title.title()}}</h1>

					<a href="{{url_for("view_item",env_type_model="film",item_id=film.film_id)}}">Профиль фильма</a>
				</div>
				{%else%}
				<h1>Не у пользователя фильмов</h1>
				</div>
				{%endif%}
			
		</div>
			{%endfor%}
			{%endif%}

		</div>
		
			<div class="update_delete button df">
			{%if user and (user.role_user=="admin" or user.user_id==item_id)%}
			<form action="{{url_for("update_model",env_type_model="user",item_id=item_id )}}" method="get">
			<button type="submit">Изменить</button>
			</form>
			<form action="{{url_for("delete_user",user_id=item_id)}}" method="post">
				<button type="submit">Удалить</button>
			</form>
			{%endif%}

		
		{%elif item.title%}
			<div class="film_profile df">		
			<div class="button_view df">
				<form action="{{url_for("view_item",item_id=item.film_id,env_type_model="film",type_view="comment")}}" method="get">
					<button type="submit">Кометарий</button>
				</form>
				<form action="{{url_for("view_item",item_id=item.film_id,env_type_model="film",type_view="review")}}" method="get">
					<button type="submit">Рецензий</button>
				</form>
			</div>
			
			{%if user and not rating_user  %}
			<form  action="{{url_for("create_rating",film_id=item.film_id,user_id=user.user_id)}}" method="post">
				<div class="rating_form df">
					<h2>Создание ратинга</h2>
				<select name="rating" >
					{%for i in range(1,11)%}
					<option value="{{i}}">{{i}}</option>
					{%endfor%}	
				</select>
				<button type="submit">Создать ретинг</button>
				</div>
			</form>
			{%elif rating_user and user.user_id %}

			
			<div class="rating_form df">
				<h2>Ваш ратинг:{{rating_user.rating}}/10</h2>
			<form  action="{{url_for("update_rating_user_id",film_id=item.film_id,user_id=user.user_id)}}" method="post">
				<div class="form_corect df">
				<select name="rating">
					{%for i in range(1,11)%}
					<option value="{{i}}">{{i}}</option>
					{%endfor%}	
				</select>
				
				<button type="submit">Обновить  ратинг</button>
				</div>
				
			</form>
			<form  action="{{url_for("delete_rating",rating_id = rating_user.rating_id,film_id=item.film_id)}}" method="post">
				<div class="form_corect df">
				<button type="submit">Удалить ратинг </button>
				</div>
			</form>
			</div>
			{%endif%}
			<div class="card_film df">
				

				<div class="rating_str">
				{%if item.avg_rating>0.0%}
				<span>{{item.avg_rating}}</span>
				{%else%}
				<span>Нет ратинга</span>
				{%endif%}
				</div>
				<img src="{{url_for('static',path=item.path_image)}}" alt="">
				<div class="info df ">
					<label>Название</label>
					<h1 id="titile">{{item.title.title()}}</h1>
					<label>Описание</label>
					<p id = "description">{{item.description}}</p>
					<label for="">Дата релиза</label>
					<data>{{item.release_date}}</data>
					<label>Страна произвоства</label>
					{%if item.country%}
					<h2>{{item.country.country_name.title()}}</h2>
					{%else%}
					<h1>Пока нет страны </h1>
					{%endif%}
					<label>Жанры</label>
					{%if item.types_film%} 
					{%for type_film in  item.types_film%}
						<h4>{{type_film.type_film_name.title()}}</h4>
					{%endfor%}
					{%else%}
					<h5>Нет жанра в у фильма</h5>
					{%endif%}
					
					<h1>Actors</h1>
					{%if item.actors %}
					
					{%for actor in item.actors%}
					<a href="{{url_for("view_item",env_type_model='actor',item_id = actor.actor_id)}}" id="actor">{{actor.firstname}} {{actor.lastname}} {{actor.patronymic}}<br></a>
					{%endfor%}
					{%else%}
					<p>Пока не сказали кастинг </p>
					{%endif%}
					<h2>Authors</h2>
					{%if item.authors%}
					{%for author in item.authors%}
					<a href="{{url_for("view_item",env_type_model='author',item_id = author.author_id)}}" id="author">
						{{author.firstname}} {{author.lastname}} {{author.patronymic}}<br>
					</a>
					{%endfor%}
					{% else%}
					<h2>Not author </h2>
					{%endif%}
						{%if user%}
							{%if item.film_id in like_film_ids%}
							<form  method="post" action="{{url_for("delete_likelilm",user_id=user.user_id,film_id=item.film_id)}}">
								<button type="submit">Удалить фильм </button>
							</form>
							{%else%}
							<form  method="post" action="{{url_for("add_likefilm",user_id=user.user_id,film_id=item.film_id)}}">
								<button type="submit">Добавить  в избранное </button>
							</form>
							{%endif%}
						{%endif%}
					</div>
				</div>
			{%if item.video_path%}
			<div class=".video-container">
				<video id="player" controls >
					<source src="{{url_for("static" ,path=item.video_path)}}" type="video/mp4">
				</video>
			</div>
			{%else%}
			<div class="video-container">
				<video id="player" controls >
					<source src="{{url_for("static" ,path="video/mass-for-the-dead-overlord-moewalls-com.mp4")}}" type="video/mp4">
				</video>
			</div>
			{%endif%}
			{%if type_view =="comment"%}
			{%if user%}
			<div class="coment_glav df">
			
			<form action="{{url_for("create_comment",user_id=user.user_id,film_id=item.film_id)}}" method="post">
				<div class="coment_form df">
				<textarea name="description" id="" minlength="20" maxlength="4000" placeholder="Текст кометария"></textarea>
				
				<button type="submit">Создать новый комент</button>
				</div>
			</form>
		
			{%endif%}
			<div class="coment_block df">
				<h1>Comments</h1>
				{%if item.coments%}
				
				{%for coment in item.coments%}
				<h2><a href="{{url_for("view_item",env_type_model="user",item_id=coment.user.user_id)}}">{{coment.user.username}}</a></h2>
				<p> Описние  {{coment.description}}</p>
				<h3> Лайки {{coment.countheart}}</h3>
				{%if user%}
				<div class="recens_form df">
					<form action="{{url_for("update_coment_type_rec" 
					,coment_id=coment.coment_id,
					film_id=item.film_id,
					user_id = user.user_id, type_rec = "like")}}" method="post">
						<button>💖</button>
					</form>
					</div>
					{%endif%}
				
				<h3>Дизлайки {{coment.countdemon}}</h3>
				{%if user%}
			
				<div class="recens_form df">
					<form action="{{url_for("update_coment_type_rec" 
					,coment_id=coment.coment_id,
					film_id=item.film_id,
					user_id = user.user_id, type_rec = "unlike")}}" method="post">
						<button>💩</button>
					</form>
				</div>
			
			
				{%if (user.user_id == coment.user.user_id) or (user and user.role_user=="admin")%}
				<div class="coment_delete_update df">	
				
					<form action="{{url_for("update_coment",coment_id=coment.coment_id,film_id=item.film_id)}}" method="post">
							<textarea name="description" id="" minlength="20" maxlength="4000" placeholder="Текст кометария"></textarea>
							<br>
							<button type="submit">Обновить коментарий</button>
					</form>
					
					<form action="{{url_for("delete_coment",coment_id=coment.coment_id,film_id=item.film_id)}}" method="post">
						<button type="submit" onclick="return confirm('Вы уверены')">Удалить</button>
					</form>
					
				</div>	
				{%endif%}
			{%endif%}
			{%endfor%}
			</div>
			
				
				
				
			
			{%else%}
			
			
			<p>Кометарий не написаны  </p>
			</div>
			{%endif%}
			{%else%}

				{%if user%}
						<form action="{{url_for("create_review",film_id=item.film_id,user_id=user.user_id)}}" method="post">
							<div class="create_review df">
							<label>Историй</label>
							<select name="rating_histrory_str">
								{%for i in range(1,11)%}
								<option value="{{i}}">{{i}}</option>
								{%endfor%}
							</select>
							<label>Атмосферы</label>
							<select name="rating_atmosphere_str">
								{%for i in range(1,11)%}
								<option value="{{i}}">{{i}}</option>
								{%endfor%}
							</select>
							<label>Музыки</label>
							<select name="rating_musing_str">
								{%for i in range(1,11)%}
								<option value="{{i}}">{{i}}</option>
								{%endfor%}
							</select>
							<label>Персонажи</label>
							<select name="rating_persons_str">
								{%for i in range(1,11)%}
								<option value="{{i}}">{{i}}</option>
								{%endfor%}
							</select>
							
							
							<textarea name="description" placeholder="Написите мысли твой" maxlength="500" minlength="50"></textarea>
							<button type="submit">Создать </button>
							</div>
						</form>
				{%endif%}
			
			<div class="review df">
				<h1>Review</h1>
			{%if item.reviews%}
				
				{%for review in  item.reviews%}
					
					<div class="info df ">
						<div class="username">
							<h1>{{review.user.username}}</h1>
						</div>
						<div class="rating_model df">
						{% set ratings = {
							"История": review.rating_histrory,
							"Атмосфера": review.rating_atmosphere,
							"Музыка": review.rating_musing,
							"Персонажи": review.rating_persons
						} %}
						{%for name,val in ratings.items()%}
						{%if val <=4%}
						<div class="nover df">
						{%elif val  <=6%}
						<div class="mobel df">
						
						{%else%}
						<div class="good df">
						
						{%endif%}
						<label>{{name}} </label>
						<span>{{val}}/10 </span>
						</div>
						
						{%endfor%}
						</div>
						<div class="avg df">
						{%if review.avg_rating  <= 4%}
						<div class="avg_red">
						{%elif review.avg_rating <=6%}
						<div class="avg_grey">
						{%else%}
						<div class="avg_green">
						{%endif%}	
						<label for="">Ратинг ренцезий</label>
						<span>{{review.avg_rating}}/10</span>
						
						</div>
							
						</div>
						<div class="dessi">
							<p>{{review.description}}</p>
						</div>

					</div>
					{%if review.user.user_id==user.user_id or user.role_user=="admin" %}
					<form action="{{url_for("update_review",film_id=item.film_id,review_id=review.review_id)}}" method="post">
						<div class="update_delete_form df">
							<label> История</label>
								<select name="rating_histrory_str">
									{%for i in range(1,11)%}
									<option value="{{i}}" {%if i== review.rating_histrory%} selected{%endif%}  > {{i}}</option>
									{%endfor%}
								</select>
								<label>Атмосферы</label>
								<select name="rating_atmosphere_str">
									{%for i in range(1,11)%}
									<option value="{{i}}" {%if i== review.rating_atmosphere%} selected{%endif%} >{{i}}</option>
									{%endfor%}
								</select>
								<label>Музыки</label>
								<select name="rating_musing_str">
									{%for i in range(1,11)%}
									<option value="{{i}}" {%if i== review.rating_musing%} selected{%endif%}>{{i}}</option>
									{%endfor%}
								</select>
								<label>Персонажи</label>
								<select name="rating_persons_str">
									{%for i in range(1,11)%}
									<option value="{{i}}" {%if i== review.rating_persons%} selected{%endif%}>{{i}}</option>
									{%endfor%}
								</select>
								
								
								<textarea name="description"  maxlength="500" minlength="50" placeholder="Написите мысли твой" >{{ review.description }}</textarea>
								<button type="submit"> Обновить </button> 
							</form>
							<form action="{{url_for("delete_review",film_id=item_id,review_id=review.review_id)}}" method="post">
								<button type="submit">Удаления</button>
							</form>
						</div>
						{%endif%}
						
					{%endfor%}
						</div>
			{%else%}
			<p>Нет рецензий</p>
			</div>
			{%endif%}
			{%endif%}
			<div class="update_delete button">
				{%if user and (user.role_user=="admin" or user.role_user=="author" )%}
				<form action="{{url_for("update_model",env_type_model="film",item_id=item_id)}}" method="get">
					<button type="submit">Изменить</button>
				</form>
				<form action="{{url_for("delete_film",film_id=item_id)}}" method="post">
					<button type="submit">Удалить</button>
				</form>
				{%endif%}
			</div>
			</div>
		{% elif item.bio %}
			
	<div class="profile_actor df">
		<div class="info df">
			<label>ФИО</label>
			<h1> {{item.lastname }} {{item.firtname}} {{item.patronymic}}</h1>
			<label>Дата рождение</label>
			<h2>{{item.birth_date}}</h2>
			<label>Био</label>
				{%if item.bio%}
				<p>{{item.bio}}</p>
				{%else%}
				<p>Автор не стал сообшать историю о себе</p>
				{%endif%}
			<label for="">Страна</label>
			{%if item.country%}
			<h1>{{item.country.country_name.title()}}</h1>
			{%else%}
		
			<h2>Нет где родился</h2>
			{%endif%}
		
		</div>
		<div class="film_card df">
			
			{%if item.films_authored%}
			<label for="">Название фильмо</label>
			{%for film in item.films_authored%}
			
			<h3>{{film.title.title()}}</h3>
			<a href="{{url_for("view_item",env_type_model="film",item_id=film.film_id)}}">профиль фильма</a>
			{%endfor%}
			{%else%}
			<h2>Нет работ у него</h2>
			{%endif%}
		</div>
	</div>
			{%if user and (user.role_user=="admin" or user.role_user=="author" )%}
			<div class="update_delete button df">
				<form action="{{url_for("update_model",env_type_model="author",item_id=item_id)}}" method="get">
				<button type="submit">Изменить</button>
				</form>
					<form action="{{url_for("delete_author",author_id=item_id)}}" method="post">
						<button type="submit">Удалить</button>
					</form>
			</div>
			{%endif%}
			{% else %}
		<div class="profile_author df">
			<div class="info df">
			<label>ФИО</label>
			<h1>{{item.lastname }} {{item.firtname}} {{item.patronymic}}</h1>
			<label>Дата рождение</label>
			<h2>{{item.birth_date}}</h2>
			<label>Количество звест</label>	
			{%if item.star%}

				<p>{{item.star}}</p>
				{%else%}
				<p>Актера нет звест</p>
				{%endif%}
				{%if item.country%}
			<label>Страна </label>
			<h1>{{item.country.country_name.title()}}</h1>
			{%else%}
			<h2>Нет где родился</h2>
			{%endif%}
			</div>
		
			<div class="film_card df">
				{%if item.films_acted%}
				{%for film in item.films_acted%}
				<label>Название</label>
				<h3>{{film.title.title()}}</h3>
				<a href="{{url_for("view_item",env_type_model="film",item_id=film.film_id)}}">профиль фильма</a>
				{%endfor%}
				{%else%}
				<h2>Нет работ у него</h2>
				{%endif%}
			</div>
		
		<div class="update_delete button df">
			{%if user and (user.role_user=="admin" or user.role_user=="author" )%}
			<form action="{{url_for("update_model",env_type_model="actor",item_id=item_id )}}" method="get">
			<button type="submit">Изменить</button>
			</form>
			<form action="{{url_for("delete_actor",actor_id=item_id)}}" method="post">
				<button type="submit">Удалить</button>
			</form>
		</div>
		
			{%endif%}
			{%endif%}
			
		
	</div>
	{% include"reg_log_modal.html"%}
	{%include "footer.html"%}
	<script src="{{ url_for('static', path='model.js') }}"></script>   
	<script src="{{ url_for('static', path='playr.js') }}"></script>   
</body>
</html>