<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/relult_serach.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/header.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/footer.css')}}">
    <title>Результат поиска</title>
</head>
<body>
    <div id="header">{% include "header.html"%}</div>
    <div class="info df ">
    <h1>Запрос на поиск :|{{search_text}}|</h1>
    <h2>Найдена фильмов  :{{count_films}}
         авторов {{count_authors}} и актёров:{{count_actors}}</h2>
   
    {% if not films and not actors and not authors%}
        <h1>Не удалаос найти что вы хотели</h1>
         </div>
    {%else%}
     </div>
        {%if films%}
            <div class="film_bloc df ">
            <h1>Film</h1>
            {%for film in films %}
                <div class="text_box df">
                <h1>Название:{{film.title}}</h1>
                <p>Описание:{{film.description}}</p>
                <a href="{{url_for('view_item',env_type_model='film',item_id = film.film_id)}}" id="film"><img src="{{url_for('static',path=film.path_image)}}"></a>
                </div>
            {%endfor%}
            </div>
        {%endif%}
        {%if actors%}
            <div class="actor_block df ">
            <h1>Actor</h1>
            {%for actor in actors%}
            <div class="text_box df">
                <h1>ФИ: {{actor.lastname}} {{actor.firstname}} </h1>
                <a href="{{url_for("view_item",env_type_model="actor",item_id=actor.actor_id)}}">Профиль</a>
            </div>
            {%endfor%}
            </div>
        {%endif%}
        {%if authors%}
            <div class="actor_block df ">
            <h1>Author</h1>
            {%for author in authors%}
            <div class="text_box df">
            <h2>ФИ: {{author.lastname}} {{author.firstname}} </h2>
                <a href="{{url_for("view_item",env_type_model="author",item_id=author.author_id)}}">Профиль</a>
            </div>
                {%endfor%}
            </div>
        {%endif%}
    {%endif%}
    <div id="footer">{% include"footer.html"%}</div>
</body>
</html>