<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменения роли</title>
</head>
<body>
    {%if user.role_user=="admin"%}
        <form action="{{url_for("update_user_role",user_admin_id=user.user_id)}}" method="post">
        <select name="user_id" id="">
        {%for update_user in users%}
        {%if user.user_id ==update_user.user_id%}
        <option value="{{update_user.user_id}} " disabled>{{update_user.username}}</option>
        {%else%}
        <option value="{{update_user.user_id}}">{{update_user.username}}</option>
        {%endif%}
        {%endfor%}
        </select>
        <select name="update_role_user" id="">
            <option value="admin">Admin</option>
            <option value="author">Author</option>
             <option value="user">User</option>
        </select>
        <button type="submit">Обновить роль </button>
        </form>
    {%else%}
    <h1>У вас нет доступа</h1>
    <a href="{{url_for("main_item",type_model="film")}}">Обратно на главную</a>
    {%endif%}


    
</body>
</html>