.df{
    display: flex;
}
.info{
    flex-direction: column;
    width: 99%;
    height: 50%;
    background-color: rgb(24, 88, 88);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
} 
.film_bloc {
    width: 96%;
    /* max-width: 700px; */
    background-color: rgb(16, 78, 86);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.film_bloc img {
    width: 30%;
    border-radius: 15px;
    margin-bottom: 15px;
}


.actor_block ,.author_block{
    flex-direction: column;
    width: 96%;
    height: 40%;
    background-color: rgb(22, 83, 91);
    color:  white;;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    
       
}
.text_box {
    flex-direction: column;
    background-color: rgb(35, 98, 194);
    color: black;
    border-radius: 5px;
    width: 70%;
    height: 30%;
    text-align: center;
    margin-bottom: 20px;
    
    
}

a{
    text-decoration: none;
    color: black;
    transition: 0.6s;
}
a:hover{
    color: chocolate;
    transition: 0.6s;
}