.df{
    display: flex;
}
.profile_search{
    gap: 100px;
    height: 100%;
    width: 100%;
    background-color: rgb(7, 113, 154);
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    color: rgb(77, 150, 157);
}
.film_block{
    margin-left: 20px;
    margin-bottom: 10px;
    flex-direction: column;
    background-color: rgb(115, 13, 163);

    color: white;
    border-radius: 20px;
    width: 94%;
    flex-wrap: nowrap;
    padding: 10px 20px;
    
}
.film_block .zaner{
    flex-direction: row;
    /* justify-content: space-between; */

}
.film_block a{
  
    text-decoration: none;

    color: white;
    transition: 0.5s;
}
.film_block a:hover{
  
    
    transition: 0.5s;
    color: aquamarine;
    transform: scaleX(40px);
    
}
.film_block span{
    width: 10%;
    background-color:  green;
    color: yellow;
    
    
}
.film_block img{
    width: 30%;
    height: 30%;
    padding: 10px 15px;
    border-radius: 20px;
    
    
}
.form{
    background-color: rgb(136, 69, 7);
    color: white;
    border-radius: 20px;
    height: 70%;
    flex: 1;
   align-items: center;
   justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
     padding: 10px 15px; 
}
.form input,select{
   
    
    border-radius: 20px;
    color: black;
    transition: 0.6s;
}
.form input:hover,input:focus{
   
   
    transition: 0.6s;
}
.form select:hover,select:focus{
    
    
    transition: 0.6s;
}
.form button:hover{
    
    transition: 0.6s;
}
.form button{
    background-color: rgb(16, 146, 115);
    color: azure;
    transition: 0.6s;
    border-radius: 5px;
    height: 50%;
    width: 40%;
}
.group_check{
    flex-shrink: 0;
    gap: 5px;
   
}