.df{
    display: flex;
}
body{
    background-color: #2b5d80;
}
.profile_search{
    gap: 100px;
    height: 100%;
    width: 100%;
    background-color: #0f2a3d;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    color:white;
}
.film_block{
    margin-left: 20px;
    margin-bottom: 10px;
    flex-direction: column;
    background-color: #0c3b5d;

    color: white;
    border-radius: 20px;
    width: 94%;
    flex-wrap: nowrap;
    padding: 10px 20px;
    
}
.film_block .zaner{
    flex-direction: row;
    /* justify-content: space-between; */

}
.film_block a{
  
    text-decoration: none;

    color: white;
    transition: 0.5s;
}
.film_block a:hover{
  
    
    transition: 0.5s;
    color: aquamarine;
    transform: scaleX(40px);
    
}
.film_block span{
    width: 10%;
    background-color:  green;
    color: yellow;
    
    
}
.film_block img{
    width: 30%;
    height: 30%;
    padding: 10px 15px;
    border-radius: 20px;
    
    
}
.form{
    background-color: #1d4f73;
    color: white;
    border-radius: 20px;
    height: 70%;
    flex: 1;
   align-items: center;
   justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
     padding: 10px 15px; 
}
.form input,select{
   
    
    border-radius: 20px;
    color: black;
    transition: 0.6s;
}
.form input:hover,input:focus{
   
   
    transition: 0.6s;
}
.form select:hover,select:focus{
    
    
    transition: 0.6s;
}
.form button:hover{
    
    transition: 0.6s;
}
.form button{
    background-color: rgb(16, 146, 115);
    color: azure;
    transition: 0.6s;
    border-radius: 5px;
    height: 50%;
    width: 40%;
}
.group_check{
    flex-shrink: 0;
    gap: 5px;
   
}
.err {
  margin: 10px 0;
  padding: 12px 16px;
  background-color: #fee;
  border: 1px solid #f66;
  border-radius: 6px;
  font-size: 14px;
  color: #c00;
  line-height: 1.4;
}

.pages{
    flex-direction: row;
   
    margin: 10px auto;
    width: 90%;
}
.pages button{
    flex-direction: row;
    width: 100%;
    height: 90%;
    background-color: #6aabd9;
    color: black;
    transition: 0.6s;
    border-radius: 5px;
    
}
.pages button:hover{
   opacity: 0.7;
    transition: 0.6s;
    
}